[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/small_vector"]
	path = vendor/small_vector
	url = https://github.com/gharveymn/small_vector.git
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/libenvpp"]
	path = vendor/libenvpp
	url = https://github.com/ph3at/libenvpp.git
[submodule "vendor/mimalloc"]
	path = vendor/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "vendor/matchbox"]
	path = vendor/matchbox
	url = https://github.com/fknorr/matchbox.git
