/* Docusarus overrides */

.fixedHeaderContainer {
  background: linear-gradient(
    90deg,
    rgb(245, 139, 105) 0%,
    rgb(200, 110, 132) 35%,
    rgb(74, 102, 176) 100%
  );
}

.blockContent {
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
}

.imageAlignTop .blockImage {
  max-width: 10em;
}

blockquote {
  background-color: rgb(255, 223, 213);
  border-left: 8px solid #f58b69;
  color: #333;
}

/* Custom classes */

hr.separator {
  margin: 3em 0;
}

.celerity-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.celerity-disclaimer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em;
  background: #ffd99a;
  border: solid 1px orange;
  border-radius: 2px;
}

.home-page .blockElement {
  margin-bottom: 6em;
}

.celerity-loves-github {
  margin-top: 2em;
  margin-bottom: 1em;
}

.uni-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.uni-logos img {
  height: 100px;
  margin: 0 30px;
}

@media (max-width: 768px) {
  .uni-logos {
    margin-top: -20px;
  }
  .uni-logos img {
    height: 60px;
    margin-top: 20px;
  }
}
